.post-list {
    margin-bottom: 32px;
}

span.post-meta {
    position: absolute;
}

.post-meta {
    line-height: 1.5rem;
    color: #828282;
}

.post-link {
    display: inline-block;
    margin-left: 7rem;
    text-decoration: none;
}
