.post-list {
    margin-top: 2rem;
}

.post-meta {
    position: absolute;
    line-height: 1.5rem;
    color: #828282;
}

.post-link {
    display: inline-block;
    margin-left: 7rem;
    text-decoration: none;
}