:root {
    --container-width: 800px;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 400 1rem/1.5 "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover:not(.site-title) {
    color: #FF4040;
    text-decoration: underline;
}

.wrapper {
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen and (min-width: var(--container-width)) {
    .wrapper {
        padding-right: 30px;
        padding-left: 30px;
    }
}
